header{
	width:100%;
	height:100%;
	/*line-height:45px;*/
	background:#fa1e37;
	display:flex;
	justify-content: space-between;
	box-sizing:border-box;
	z-index: 999;;
}
header div{
	cursor:pointer;
}
.category{
	width:0.9rem;
	height:45px;
	text-align:center;
	display:flex;
	flex-direction: column;
	color:rgba(255,255,255,0.8);
}
.category p{
	width:100%;
	height:50%;
	line-height: 0.7rem;
	align-self: flex-start;
	font-size:0.4rem;
}
.category span{
	line-height: 0.45rem;
	height:50%;
	font-size:0.22rem;
}
.banner{
	/*position:absolute;*/
	/*top:0.9rem;*/
}
.search{
	width:5.70rem;
	height:0.62rem;
	background:#fcd2d6;
	border-radius:0.05rem;
	line-height: 0.6rem;
	margin-top:0.13rem;
	box-sizing:border-box;
	padding-left:0.2rem;
	color:#9f9b9b;
	display:flex;
	justify-content:space-around;
}
.search span{
	margin-right:0.1rem;
	font-size:0.4rem;
}
.search input{
	width:80%;
	background:none;
	color:#9f9b9b;
	border:none;
	font-size:0.25rem;
	font-weight:bold;
}
.search span:last-child{
	margin-top:0.05rem;
}
.body{
	width:100%;
	height:100%;
	background:#fff;
	overflow: hidden;
	/*top:45px;*/
}
.banner{
	height:2.72rem;
	width:100%;
	background:red;
	/*position:absolute;*/
}
.banner .swiper-container{
	width:100%;
	height:100%;
}
.banner .swiper-container .swiper-slide:nth-child(1){
	background:url(../img/banner1.jpg)no-repeat;
	background-size:100% 100%;
}
.banner .swiper-container .swiper-slide:nth-child(2){
	background:url(../img/banner2.jpg)no-repeat;
	background-size:100% 100%;
}

.banner .swiper-container .swiper-slide:nth-child(3){
	background:url(../img/banner3.jpg)no-repeat;
	background-size:100% 100%;
}

.banner .swiper-container .swiper-slide:nth-child(4){
	background:url(../img/banner4.jpg)no-repeat;
	background-size:100% 100%;
}
.banner .swiper-container .swiper-slide:nth-child(5){
	background:url(../img/banner5.jpg)no-repeat;
	background-size:100% 100%;
}

.banner .swiper-container .swiper-slide:nth-child(6){
	background:url(../img/banner6.jpg)no-repeat;
	background-size:100% 100%;
}
.small-ban{
	width:100%;
	height:2.04rem;
	top:3.63rem;
}
.small-ban img{
	width:100%;
	height:100%;
}
.items{
	width:100%;
	height:3.3rem;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:0.2rem 0;
}
.items ul{
	width:100%;
	height:55%;
	display:flex;
	justify-content: space-between;
	font-size:0.25rem;
}
.item-list{
	height:100%;
	width:20%;
	box-sizing: border-box;
}
.item-list .img{
	display:inline-block;
	width:0.88rem;
	height:0.88rem;
	float:left;
	margin-left:0.3rem;
}
.item-list .img img{
	width:100%;
	height:100%;
}
.item-list .word{
	width:100%;
	margin-top:0.1rem;
	float:left;
	text-align: center;
}
.toutiao{
	width:100%;
	height:1.3rem;
}
.toutiao-left{
	float:left;
	height:100%;
	width:30%;
}
.toutiao-left img{
	width:100%;
	height:100%;
}
.toutiao-right{
	float:left;
	height:100%;
	width:70%;
	font-size:0.3rem;
}
.toutiao-right .tr-active{
	box-sizing:border-box;
	padding:0.25rem 0.2rem;
	display:flex;
	flex-direction:column;
	position:absolute;
	line-height: 0.5rem;;
}
.toutiao-right .tr-active p{
	display:block;
	padding:0;
	margin:0;
	line-height:0.001rem;
}
.toutiao-right .tr-active p i{
	display: inline-block;
	width:0.1rem;
	height:0.1rem;
	background:orange;
	border-radius:50%;
	margin-bottom:0.1rem;
	margin-right:0.2rem;
}
.toutiao-right .tr-active p:first-child{
	color:#000000;
}
.toutiao-right .tr-active p:last-child{
	padding-bottom: 0.1rem;;
	color:#999;
}
.new-member{
	width:100%;height:5.66rem;
	background:#f2f2f2;
}
.new-member a{
	display: inline-block;
	width:100%;
	height:100%;
}
.new-member .new-img{
	float:left;
	width:100%;
	height:5.5rem;
	margin-top:0.11rem;
	position:relative;
	background:url(../img/new.png);
	background-size:100% 100%;
	box-sizing:border-box;
	padding:0.2rem 0.25rem;
}
.new{
	width:100%;
	height:0.9rem;
}
.new-img div{
	float:left;
}
.new-left,.new-right{
	width:3.45rem;
	height:2.85rem;
}
.new-right{
	margin-left:0.1rem;
}
.nr-top,.nr-bottom{
	width:100%;
	height:48%;
}
.nr-top{
	margin-bottom:0.1rem;
}
.new-bottom{
	width:7rem;
	height:0.98rem;
	margin-top:0.25rem;
}
footer{
	width:100%;
	height:1rem;
	box-sizing: border-box;
	border-top:1px solidc #ccc;
	position:absolute;
	bottom:0;
	left:0;
}
footer ul{
	width:100%;
	height:100%;
	background:#fff;
}
footer ul li{
	float:left;
	width:20%;
	height:100%;
	position:relative;
	cursor:pointer;
}
footer ul .footer-active{
	color:#eac170;
}
footer ul li div{
	width:0.62rem;
	height:0.62rem;
	margin-left:0.45rem;
	margin-top:0.1rem;
}
footer ul li:nth-child(1) div{
	background:url(../img/index.png) no-repeat;
	background-size:100% 100%;
}
footer ul li:nth-child(2) div{
	background:url(../img/hai.png) no-repeat;
	background-size:100% 100%;
}
footer ul li:nth-child(3) div{
	background:url(../img/qing.png) no-repeat;
	background-size:100% 100%;
}
footer ul li:nth-child(4) div{
	background:url(../img/go.png) no-repeat;
	background-size:100% 100%;
}
footer ul li:nth-child(5) div{
	background:url(../img/my.png) no-repeat;
	background-size:100% 100%;
}
footer ul li p{
	width:100%;
	text-align: center;
	font-size:0.18rem;;
}




